.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: var(--color-2);
    color: var(--color-3);
    letter-spacing: 0.4px;
    width: 100%;
    font-size: 0.9em;
    padding: 5px;
    padding-left: 270px;
    z-index: 99999;
}

@media screen and (max-width: 1200px) {
    .footer {
        padding-left: 0 !important;
    }
}
