$color-1: var(--color-3);
$dropdown-size: 400px;
$arrow-size: 30px;

#feed-dropdown {
  position: fixed;
  width: $dropdown-size;
  background-color: $color-1;
  left: 285px;
  z-index: 999;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  color: var(--color-2);
  .feed-dropdown-header {
    .feed-dropdown-arrow-left {
      width: 0;
      height: 0;
      border-top: ($arrow-size * 0.333333333) solid transparent;
      border-bottom: ($arrow-size * 0.333333333) solid transparent;
      border-right: ($arrow-size * 0.333333333) solid var(--color-3);
      margin-left: -$arrow-size + 10;
      position: absolute;
    }
    .feed-dropdown-close-button {
      color: var(--color-3);
      float: right;
      background-color: var(--color-2);
      padding-bottom: 3px;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: 10px;
      cursor: pointer;
      &:after {
        content: "CLOSE";
        font-size: 0.85em;
        padding-left: 5px;
      }
    }
  }
  form {
    width: 100% !important;
    height: 100% !important;
    textarea {
      width: 100% !important;
      height: 100% !important;
      padding: 10px !important;
      border-width: 1px;
      border-style: solid;
      border-color: var(--color-2);
      &:focus {
        outline: none !important;
      }
    }
    button {
      color: var(--color-3) !important;
      float: right;
      svg {
        color: var(--color-3) !important;
      }
    }
  }
}
