.resetButton {
    button {
        background-color: #fff;
        padding: 7px 12px 7px 12px;
        color: #000;
        margin: 10px !important;
        position: absolute;
        z-index: 1;
    }
}
